<% @articles.each do |article| %>
  <div class="row">
    <div class="col-lg-8 offset-lg-4">
      <article>
      <header>
        <h1><%= article.title %></h1>
        <p>Published: <time pubdate="pubdate"><%= article.updated_at.to_formatted_s(:short) %></time></p>
        <p>
          <% if current_user %>
            <%= link_to 'Show ', article %>
            <%= link_to 'Edit ', edit_article_path(article) %>
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>
      </header>
      <%= raw article.body %>
      <footer>
        <p><small>Author: <%= article.user.email %></small></p>
      </footer>
    </article>
  </div>
</div>
<% end %>
<%= link_to 'New Article', new_article_path, class: "btn btn-primary" if current_user %>

