<% @articles.each do |article| %>
  <div class="row">
    <div class="col-md-12">
      <article>
      <header>
        <h1><%= link_to article.title, article %></h1>
        <p>Published: <time pubdate="pubdate"><%= article.updated_at.to_formatted_s(:short) %></time> by <%= article.user.username %></p>
        <p>
          <% if current_user %>
            <%= link_to 'Edit ', edit_article_path(article) %>
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>
      </header>
      <%= markdown article.excerpt if article.excerpt %>
      <%= link_to "more", article, class: "pull-right" %>
      <footer>
      </footer>
    </article>
</div>
</div>
<% end %>

