<%= title(@article.title) %>
<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>
<p class="small">Published: <time pubdate="pubdate"><%= @article.created_at.to_formatted_s(:short) %></time> by <%= @article.user.username %></p>


<p>
  <%= markdown(@article.body) %>
</p>

<% if signed_in? %>
  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default' %>
  <%= link_to 'Back', articles_path, class: 'btn btn-default' %>
<% end %>
