<h1>Create User</h1>
<%= form_for(@user) do |form| %>
  <div>
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>
  <div>
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <%= form.submit "Create User" %> 
<% end %>
