- title("Contact")

.form
  .col-sm-10.col-sm-offset-2
    %h3= t('.contact')

  = simple_form_for @contact, html: { role: 'form', class: 'form-horizontal' } do |form|
    .form-group
      = form.error_notification
    .form-group
      = form.label :name, class: 'col-sm-2 control-label'
      .col-sm-10
        = form.input :name, label: false,  autofocus: true, class: 'form-control'
    .form-group
      = form.label :email, class: 'col-sm-2 control-label'
      .col-sm-10
        = form.input :email, label: false, class: 'form-control'
    .form-group
      = form.label :content, class: 'col-sm-2 control-label'
      .col-sm-10
        = form.input :content, as: :text, label: false, class: 'form-control'
    .form-group
      .col-sm-10.col-sm-offset-2
        = recaptcha_tags
        - unless @captcha_valid
          .error
            = t('.please_verify_you_are_not_a_robot')
    .form-group
      .col-sm-10.col-sm-offset-2
        = form.button :submit, 'Submit', class: 'submit'
