<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= yield(:page_title) %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Happybit Blog", root_path, class: "navbar-brand" %>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </li>
            <li><%= link_to 'New Article', new_article_path if current_user %></li>
            <li><%= render partial: "shared/search_form" %></li>
            <li><!-- <a href="#about">About</a> --></li>
            <li><!-- <a href="#contact">Contact</a> --></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><span class="in-nav">Signed in as <%= current_user.username %></span></li>
              <li><%= link_to "Sign Out", logout_path, method: :delete if current_user  %></li>
            <% else %>
              <li><%= link_to "Sign In", login_path, :'data-toggle' => "tooltip", :'title' => "Sign in with your email"  unless current_user   %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </div> <!--/#wrap -->
  <div id="footer">
    <div class="container">
      <p class="text-muted credit">Author: Aristotelis Christou</p>
    </div>
  </div><!-- /#footer -->
</body>
</html>
