<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Happybit Blog", root_path, class: "navbar-brand" %>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <!-- <li class="dropdown"> -->
              <!--   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a> -->
                <!-- <ul class="dropdown-menu"> -->
                <!--   <li><a href="#">Action</a></li> -->
                <!--   <li><a href="#">Another action</a></li> -->
                <!--   <li><a href="#">Something else here</a></li> -->
                <!--   <li class="divider"></li> -->
                <!--   <li class="dropdown-header">Nav header</li> -->
                <!--   <li><a href="#">Separated link</a></li> -->
                <!--   <li><a href="#">One more separated link</a></li> -->
                <!-- </ul> -->
              </li>
                <li><!-- <a href="#about">About</a> --></li>
                <li><!-- <a href="#contact">Contact</a> --></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li><span class="in-nav">Signed in as <%= current_user.username %></span></li> 
                <li><%= link_to "Sign Out", logout_path, method: :delete if current_user  %></li>
              <% else %>
                <li><%= link_to "Sign In", login_path, :'data-toggle' => "tooltip", :'title' => "Sign in with your email"  unless current_user   %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <div class="container">


    <% flash.each do |name, message| %>
      <% if name == :notice %>
        <%= content_tag :div, message, class: 'alert alert-success alert-dismissable' %>
      <% elsif name == :warning %>
        <%= content_tag :div, message, class: 'alert alert-warning alert-dismissable' %>
      <% end %>
    <% end %>

    <%= yield %>

  </div>
</div>
<div id="footer">
  <div class="container">
    <p class="text-muted credit">Author: Aristotelis Christou</p>
  </div>
</div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-16061280-4', 'happybit.eu');
    ga('send', 'pageview');

  </script>
</body>
</html>
